<template>
  <div id="app">
    <div class="wrapper clearfix">

      <players 
        v-bind:isWinner="isWinner"
        v-bind:activePlayer="activePlayer"
        v-bind:pointPlayers="pointPlayers"
        v-bind:currentPoint="currentPoint"
      />

      <control 
        v-on:handleClickRollDice="handleClickRollDice"
        v-on:handleClickHold="handleClickHold" 
        v-on:handleClickNewGame="handleClickNewGame"   
        v-on:handleChangeFinalPoint="handleChangeFinalPoint"
        v-bind:isPlaying="isPlaying"
        v-bind:finalPoint="finalPoint"
      />

      <dices 
        v-bind:dices='dices'
      />

	    <popup 
      v-on:handleClickConfirm="handleClickConfirm"
      v-bind:openPopup="openPopup"
      />

    </div>
  </div>
</template>

<script>
import Players from "./components/PlayerComponent";
import Control from "./components/ControlComponent";
import Dices from "./components/DicesComponent";
import Popup from "./components/PopupComponent";
export default {
  name: "app",
  data() {
    return {
		  isPlaying: false,
      activePlayer: 0,
      currentPoint: 5,
      pointPlayers: [12, 10],
      dices: [4, 6],
      finalPoint: 100,
      openPopup: false
	  };
  },
  computed: {
    isWinner() {
      if (this.pointPlayers[0] >= this.finalPoint || this.pointPlayers[1] >= this.finalPoint) {
        this.isPlaying =  false;
        return true;
      } 
      return false;
    }
  },
  methods: {
    handleClickConfirm() {
      this.isPlaying = true,
      this.openPopup = false,
      this.activePlayer = 0,
      this.currentPoint = 0,
      this.pointPlayers = [0, 0],
      this.dices = [1, 1]; 

      if (this.finalPoint == '' || this.finalPoint == 0) {
        this.finalPoint = 50;
      }
    },
    handleChangeFinalPoint(e) {
      var number = parseInt(e.target.value);
      if(isNaN(number)) {
        this.finalPoint = '';
      } else {
        this.finalPoint = number;
      }
    },
    handleClickNewGame() {
      this.openPopup = true
    },
    handleClickRollDice() {
      if (!this.isPlaying) {
        alert("You need click New Game to Roll Dice");
      } else {
        var dice1 = Math.floor(Math.random() * 6) + 1;
        var dice2 = Math.floor(Math.random() * 6) + 1;  

        this.dices = [dice1, dice2];
        this.currentPoint = this.currentPoint + dice1 + dice2;

        if (dice1 == 1 || dice2 == 1) {
          setTimeout(function() {
              alert("You was roll to 1, skip to next competitor");
          }, 10);
          this.nextPlayer();
        }
      }
    },
    handleClickHold() {
      if (!this.isPlaying) {
        alert("You need click New Game to Roll Dice");
      } else {
        let clonePointPlayer = [...this.pointPlayers];
        clonePointPlayer[this.activePlayer] += this.currentPoint;
        this.pointPlayers = clonePointPlayer;
        if (!this.isWinner) {
          this.nextPlayer();
        }
      }
    },
    nextPlayer() {
        this.activePlayer = this.activePlayer == 0 ? 1 : 0; 
        this.currentPoint = 0
    },
  },
  components: {
    Players,
    Control,
	  Dices,
	  Popup
  }
};
</script>

<style>
/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url("/public/assets/back.jpg");
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
</style>
